/* ustalenie czcionkki i tła dla całego formularza */
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    background-color: lightyellow;
    color: white;
}

/* ustawienie parametrów pola formularza  */
#container {
    background-color: #213b50;
    width: 700px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    /* efekt głębi poprzez dodanie cienia   */
    box-shadow: 3px 3px 30px 5px rgba(120, 54, 120, 0.7);
}

/* Napisy w nagłówku */
h1 {
    text-transform: inherit;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
}

h1 + p {
    font-size: 22px;
    text-align: center;
    font-weight: bold;
}


input[type]  {
    background-color: #2b4a64;
    margin-bottom: 15px;
    width: 700px;
    }

input[type]:focus {
    background-color: #4e708c;
    border: 5px solid #fff;
    color: white;
    margin-bottom: 15px;
    width: 700px;
    }

input[type="radio"],
input[type="checkbox"]
{
    background-color: #2b4a64;
    margin-bottom: 15px;
    width: auto;
    }

input[type="radio"]:focus,
input[type="checkbox"]:focus {
    background-color: #4e708c;
    border: 5px solid #fff;
    color: white;
    }



textarea {
    background-color: #2b4a64;
    margin-bottom: 15px;
    width: 700px;
    }

textarea:focus {
    background-color: #4e708c;
    border: 5px solid #fff;
    margin-bottom: 15px;
    width: 700px;
    }

/* Copyright */
#footer {
    color: #666;
    text-align: center;
    font-size: 15px;
}




